@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&display=swap');


/*  GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
}

.w-90 {
  max-width: 1720px;
}

.w-100 {
  max-width: 1920px;
  white-space: nowrap;
  overflow: hidden;
}


:root {

  /* colors */
  --orange-primary:#FFA505;
  --black-primary: #202020;
  --gray-color: #696969;
  --white-color: #FFFFFF;

  /* font sizes */
  --fs-mega-lg: clamp(1.3rem, 6vw + 1.8rem, 10rem);
  --fs-lg: clamp(24px, 4vw, 48px);
  --fs-semi-lg: clamp(1.0rem, 4vw + 0.5rem, 2.7rem);
  --fs-md: clamp(1.0rem, 2vw + 0.5rem, 1.7rem);
  --fs-sm: clamp(1.0rem, 6vw + 0.5rem, 1.2rem);
  --fs-sm: clamp(1.0rem, 14px, 1.2rem);

  /* font weights */

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-semi-regular: 400;

  /* image size */
  --img-lg: clamp(250px, 100%, 800px);


  /* btns width and hight */
  --btn-container-w: clamp(6.5rem, 12vw + 1rem, 10rem);
  --btn-container-h: clamp(2.5rem, 12vw + 1rem, 4rem);
  --btn-container-h-sm: clamp(2.5rem, 12vw + 1rem, 3.2rem);
}


/* NAVBAR */
.navbar {
  padding: 50px 0;
  position: relative;
  z-index: 6;
  margin: 0 auto;
}

.left-icons {
  position: absolute;
  top: 40px;
  left: 1.5%;
  padding-top: 5px;
}


.navbar .left-icons a {
  text-decoration: none;
  margin-right: 25px;
  font-size: var(--fs-sm);
  color: var(--black-primary);
  font-weight: var(--fw-semi-bold);
  transform: scale(0);
  transition: color 0.3s, transform 0.3s ;
}

.bi-paypal{
  transition: opacity 3.3s;
}

#reportForum{
  transition: background-color 0.3s, padding 0.3s, opacity 0.3s;
  position: relative;
  padding: 10px 25px;
  background-color: var(--black-primary);
  color: var(--white-color);
  font-weight: var(--fw-semi-regular);
  opacity: 1;

}

/* #reportForum:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
} */

/* #reportForum:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

#reportForum:hover{
  background-color: var(--orange-primary);
  padding: 10px 28px;
}

.navbar .left-icons a svg{
  fill: var(--black-primary);
  cursor: pointer;
  transition: color 0.3s, transform 0.3s ;
}

.navbar .left-icons .gg:hover{
  color: var(--orange-primary);
  transform: scale(1.2);
}

.navbar .left-icons a svg:hover{
  fill: var(--orange-primary);
  transform: scale(1.2);
}


.right-icons {
  position: absolute;
  top: 40px;
  right: 1.5%;
}

.bar {
  width: 35px;
  height: 2px;
  background-color: red;
  transition: 0.3s;
}

.menu {
  opacity: 0;
  transition: opacity 0.3s;
}

.menu .bar, .menu::after, .menu::before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--black-primary);
  margin: 6px 0;
  transition: 0.3s
}

.menu.is-active .bar {
  opacity: 0;
}

.menu.is-active::before {
  transform: rotate(-45deg) translate(-9px, 5px)
}

.menu.is-active::after {
  transform: rotate(45deg) translate(-5px, -3px)
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--white-color);
  z-index: 5;
  transition: left 0.4s;
}

.mobile-nav.is-active{
  left: 0;
}


.list-container {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  justify-content: center;
  align-items: center;
}

.list-container li{
  list-style-type: none;
  position: relative;
  cursor: pointer;
  padding: 15px 0;
  margin: 0;
  width: 100%;
  max-width: 250px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.list-container li a{
  text-decoration: none;
  color: var(--black-primary);
}

.list-container #reportForum-mobile{
  text-decoration: none;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  max-width: 250px;
  border-radius: 11px;
  transition: background-color 0.3s, padding 0.3s;
  position: relative;
  padding: 10px 25px;
  background-color: var(--black-primary);
  color: var(--white-color);
  font-weight: var(--fw-semi-regular);
}

.list-container #reportForum-mobile:hover{
  background-color: var(--orange-primary);
  padding: 10px 28px;
}

.list-container li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
} 

.list-container li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} 

.red-star {
  color: red;
}

.modal-desc p {
  font-size: 13px;
  padding-top: 8px;
  text-decoration: underline;
  color: var(--black-primary);
}

.hidden {
  display: none;
}

.btn {
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(0.98);
}

.dynamic-text {
  border: none;
  color: var(--black-primary);
  pointer-events: none;
  outline: none;
}



/* ========================================================================== */


/* CONTENT SECTION */

.content {
  position: relative;
  padding: 50px 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.con{
  display: inline-block;
}

.content img{
  width: var(--img-lg);
  z-index: 1;
}

.content .con p {
  margin-top: 20px;
  z-index: 1;
  font-size: var(--fs-lg);
  text-transform: uppercase;
  overflow: hidden;
  border-right: .15em solid var(--orange-primary);
  white-space: nowrap;
  animation: 
  typing 5s steps(20, end) infinite, blink-caret .75s step-end infinite;;
  width: 0;
  animation-delay: 0s;
}

@keyframes typing {
  0% {
    width: 0
  }
  50%, 75%{
    width: 100%;
  }

}

@keyframes blink-caret {
  from, to { border-color: transparent }
  75% { border-color: orange; }
}

/* ========================================================================== */


/* EXTRAS SECTION */

.lines{
  position: absolute;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.8s;
}

.line {
  height: 100%;
  width: 1.5px;
  background-color: #ddd;
  color: #ddd;
  z-index: 2;
  transition: opacity 0.8s;
}

.right-line{
  position: relative;
  transform: translate(4500%,-0%);
}

.right-line::before {
  content : "";
  position: absolute;
  left: 50%;
  top  : 50%;
  transform: translate(-50%,-50%);
  height   : 5%;  /* or 100px */
  border: 3px solid #FFA505;
}


.extras { /* THE SECTION CONTAINER*/
  /* height: 100%;
  width: 100%; */
  transition: opacity 0.8s;
}

.extras .main-img{
  height: 65%;
  right: 8.3%;
  bottom: 0;
  z-index: 0;
  transition: opacity 0.8s;
  position: absolute;
}

.extras .sec-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%,-50%);
  transition: opacity 0.8s;
}

.extras a {
  position: absolute;
  font-size: 26px;
  text-decoration: none;
  font-weight: var(--fw-bold);
  bottom: 14%;
  left: 18%;
  transform: rotate(-90deg);
  text-transform: uppercase;
  color: var(--black-primary);
  transition: color 0.3s;
}

.extras a:hover{
  color: var(--orange-primary);
}

.extras .infinite {
  position: absolute;
  bottom: 28%;
  left: 30%;
}

.extras .digits span:nth-child(1) {
  position: absolute;
  color: #FFA505;
  font-size:40px;
  top: 28%;
  left: 12%;
}

.extras .digits span:nth-child(2) {
  position: absolute;
  color: #202020; 
  font-size: 40px;
  top: 23%;
  right: 8%;
}


@media screen and (max-width: 1440px) {
  .main-img {
    width: 470px;
    right: 3.3%;
  }
}


@media screen and (max-width: 1275px){
   .lines, .line {
    opacity: 0;
    width: 0%;
  }
  .right-line {
    opacity: 0;
    width: 0%;
  }
  .extras .main-img , .sec-img {
    opacity: 0;
  }
  .digits{
    opacity: 0;
  }

  .left-icons{
    left: 8.5%;
  }
  .right-icons{
    right: 8.5%;
  }

}


@media screen and (max-width: 796px){
  .infinite {
    opacity: 0;
  }

  .menu{
    opacity: 1;
  }

  .bi-paypal{
    opacity: 0;
  }

  #reportForum{
    opacity: 0;
  }
}




@media screen and (min-height: 1080px) {
  .extras  {
    opacity: 0;
  }
}

